/**
* Print stylesheet for iturbides.dev
*/

/* Remove unwanted elements */
.header,.github-corner, .backtotop, .footer, .ondas {
display: none;
}

.container {
	width: 100%;
	margin: 0;
	float: none;
}
body {
	float: none;
	width: 100%;
       max-width: 90%;	
       margin-left: 5%;
       margin-right: 5% !important;
}

body {
font: 15pt Georgia, "Times New Roman", Times, serif;
line-height: 1.3;
background: #fff !important;
color: #000;
}
h1, h2, h3 {
	color: black;
}

p a:link, p a:visited, p a:hover {
	color: black !important;
}
.content img {
	filter: grayscale(1);
	max-width: 900px;
}


@media print {
}

