/* *********** CSS for SSG created by iturbides.dev ************** */

/* ROOT CONFIGURATION 
Primary configuration variables
for Colors Palette, Font Style and Size
*/

:root {
	/*Color Palette */
	--primary-color:#046D32;
	--dark-primary-color:#212121;
	--light-primary-color: #C8E6C9;
	--text-icons-color: #212121;
	--accent-color: #FFFFFF;
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--divider-color: #BDBDBD;

	/* Fonts size */
	--body-font-size: 1.2em;
	--header-1-size: 2.8em;
	--header-2-size: 2em;
	--header-3-size: 1.7em;
	--header-4-size: 1.5em;
	
	/* Font Families */
	--primary-font-family: Helvetica, Arial, sans-serif;
	--secondary-font-family: 'monospace', 'sans-serif';
	--alt--font-family: 'monospace', 'sans-serif';
}
	
/* Dark Theme Color Variation */

.dark-mode {
/*Color Palette */
	--primary-color:#046D32;
	--dark-primary-color:#657D4B;
	--light-primary-color: #C8E6C9;
	--text-icons-color: #FFFFFF;
	--accent-color: #FF5722;
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--divider-color: #BDBDBD;
}

/* *********** GLOBAL CONFIGURATION ***********
General html tags, options, labels, etc.
*/

* {
	margin: 0;
	padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: var(--primary-font-family);
	font-weight: normal;
	font-style: normal;
	padding: 0;
	margin: 0;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h3, h4, h5, h6 {
	font-weight: 400;
}

h1 {
	font-size: var(--header-1-size);
}

h2 {
	font-size: var(--header-2-size);
}

h3 {
	font-size: var(--header-3-size);
}

h4 {
	font-size: var(--header-4-size);
}

h1, h2 {
	font-weight: 400;
	line-height: .9em;
	text-decoration: none;
	color: var(--primary-color);
	text-align: center;
}


h2 a:visited, h2 a:link {
	color: var(--primary-color);
	text-decoration: none;
}


p a:link {
	color: var(--primary-color);
	text-decoration: none;
}

p a:visited {
	color: var(--primary-color);
	text-decoration: none;
}

h4, h5, h6 {
	color: var(--secondary-text-color);
	text-decoration: none;
}

h3, body {
	text-decoration: none;
 	color: var(--secondary-text-color);
}


p {
		font-family: var(--primary-font-family);
   	font-style: normal;
		font-size: var(--body-font-size);
		line-height: 1.5;
		color: var(--dark-primary-color);
}

