---
title: PROJECT TITLE
layout: main
---
<div class="be-container">
  <div class="be-column be-col-3">
<h1>Welcolme to this project...</h1><br>
<p class="be-capital">Part of the idea upon the time this And And this is a simple paragraphtAnd this is a simple paragraphAnd this is a simple pAnd And this is a simple paragraphtAnd this is a simple paragraphAnd this is a simple pAnd And this is a simple paragraphtAnd this is a simple paragraphAnd this is a simple pstarter Eleventy project you the followin:In this And And this is a simple paragraphtAnd this is a simple paragraphAnd this is a simple pAnd And this is a simple paragraphtAnd this is a simple paragraphAnd this is a simple pAnd And this is a simple paragraphtAnd this is a simple paragraphAnd this is a simple </p><br>
  </div>
</div>

<h1>Be nice, be free, beCSS...</h1>
<p>A simple and light style sheet as a starting point...</p><br>
<h2>This is H2 text</h2><br>
<h3>This is H3 text</h3><br>
<h4>This is H4 text</h4><br>

<p>And And this is a simple paragraphtAnd this is a simple paragraphAnd this is a simple paragraphAnd this is a simple paragraphAnd this is a simple paragraphAnd this is a simple paragraphAnd this is a simple paragraphAnd this is a simple paragraphhis is a simple paragraph</p>

<blockquote>This is a Blocquote text</blockquote><br>

<h3>This is an ordened list</h3>
<ol>
	<li>Item in ordened list</li>
	<li>Item article</li>
	<li>Item article</li>
	<li>Item article</li>
</ol>


<h3>This is an unordened list</h3>
<ul>
	<li>Item in unordened list</li>
	<li>Item article</li>
	<li>Item article</li>
	<li>Item article</li>
</ul>

<div class="be-container">
  <div class="be-column be-col-4">
    <h3>Standar Buttons Labels</h3>    
<button class="be-btn">Button</button>
<button class="be-btn be-info">Button</button>
<button class="be-btn be-danger">Button</button>
<button class="be-btn be-warning">Button</button>
<button class="be-btn be-success">Button</button>
  </div>


  <div class="be-column be-col-4">
    <h3>Buttons by colors</h3>
<button class="be-btn be-red">Button</button>
<button class="be-btn be-blue">Button</button>
<button class="be-btn be-orange">Button</button>
<button class="be-btn be-yellow">Button</button>
<button class="be-btn be-navy">Button</button>
<button class="be-btn be-dark-grey">Button</button>
  </div>


  <div class="be-column be-col-4 be-card">
    <h3>Buttons by Root Classes</h3>
<button class="be-btn be-primary">Button</button>
<button class="be-btn be-primary be-rounded be-hover">Button</button>
<button class="be-btn be-inverse">Button</button>
<button class="be-btn be-danger">Button</button>
<button class="be-btn be-info">Button</button>
<button class="be-btn be-primary be-hover">Button</button>
  </div>



</div>
<!-- End buttons -->


<!-- Second Elements Cards -->
<div class="be-container">

  <div class="be-column be-col-4">
    <div class="be-card be-size-20 be-align-center be-rounded">
  <img src="/images/card.svg" alt="Card Person">
  <div class="be-card-container">
    <h4><b>Mary Doe</b></h4>
    <p>This card use the .be-size-20 class</p>
  </div>
</div>
  </div>

<div class="be-column be-col-4">
    <div class="be-card be-size-20 be-align-center">
  <img src="/images/card.svg" alt="Card Person" class="be-rounded">
  <div class="be-card-container">
    <h4><b>Mary Doe</b></h4>
    <p>This card use the .be-size-20 class</p>
  </div>
</div>
  </div>

<div class="be-column be-col-4">
    <div class="be-card be-size-20 be-align-center">
  <img src="/images/card.svg" alt="Card Person">
  <div class="be-card-container">
    <h4><b>Mary Doe</b></h4>
    <p>This card use the .be-size-20 class</p>
  </div>
</div>
  </div>


</div>
<!-- End Cards -->


<!-- Table inside container + column + be-col-12 -->
<div class="be-container">
  <div class="be-column be-col-12"> 
<h1>A Fancy Table</h1>
    <table id="customers">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Berglunds snabbköp</td>
    <td>Christina Berglund</td>
    <td>Sweden</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Königlich Essen</td>
    <td>Philip Cramer</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
  <tr>
    <td>North/South</td>
    <td>Simon Crowther</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Paris spécialités</td>
    <td>Marie Bertrand</td>
    <td>France</td>
  </tr>
</table>
</div>
</div>
<!-- End of table -->
<hr>

<h1>MODAL POPUP</h1>

<a href="#openModal">Lanzar el modal</a>

<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>

    <h2>Hey Pablosky</h2>
		<p>Aquí tienes el modal popup que pone un mensaje cuando se clika.</p>
		<p>Puedes hacer un montón de cosas aquí, como alertas o incluso crear un formulario de registro aquí mismo.</p>

  </div>
</div>

<h1>Columns exaple</h1>
<div class="be-container">
   <div class="be-column be-col-2 be-red">Esta columan tiene un poco más de contenido</div>
   <div class="be-column be-col-2 be-blue">Esta columan</div>
   <div class="be-column be-col-2 be-yellow">Esta columan</div>
</div>



